define host {
    use                 generic-host
    host_name           win-agent
    alias               Windows Machine
    address             192.168.241.1
    max_check_attempts  5
}

define service {
    use                     generic-service
    host_name               win-agent
    service_description     PING
    check_command           check_ping!100.0,20%!500.0,60%
}

# ---- Check SSH ----
define service {
    use                     generic-service
    host_name               win-agent
    service_description     SSH
    check_command           check_ssh
}

# ---- Check CPU Load ----
define service {
    use                     generic-service
    host_name               win-agent
    service_description     CPU Load
    check_command           check_load!5.0,4.0,3.0!10.0,6.0,4.0
}

# ---- Check Disk on / ----
define service {
    use                     generic-service
    host_name               win-agent
    service_description     Disk Root Partition
    check_command           check_local_disk!20%!10%!/
}

# ---- Check Current Users ----
define service {
    use                     generic-service
    host_name               win-agent
    service_description     Current Users
    check_command           check_users!20!50
}
